.Filters {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  width: 14vw;
  height: 75vh;
  margin-top: 4vh;
  margin-left: 1.5vw;
  position: fixed;
}

.Filters > div {
    margin-bottom: 20px;
    margin-left: 4px;
}

.ColourFilter,
.GenderFilter {
  display: flex;
  flex-direction: column;
}
